h1 {

    color: red;
    font-weight: bold;
    font-size: 4em;
    font-style: italic;
}

p {
    color: blueviolet;
    font-weight: bold; 
    font-size: 2em;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: black;

}


}